<header class="page-header-box">
  <h1 class="page-title">{{collection.name}}</h1>

  <div class="row">
    {{! Search }}
    <div class="span2 search-wrapper">
      {{! Wrap input in form to use onSubmit event }}
      <form id="explore-search-form">
        <input class="span2 field-search" placeholder="Search Gallery" type="text">
      </form>
    </div>

    {{! Filters Button Group }}
    <div class="span6 filters-wrapper">
      <div class="btn-group filters-btn-group">
        <a class="btn btn-large filter-popular"
            href="/#/explore/popular">
          Popular
        </a>
        <a class="btn btn-large filter-nearby"
            href="/#/explore/nearby">
          Nearby
        </a>
        <a class="btn btn-large filter-random"
            href="/#/explore/random">
          Mix-It-Up!
        </a>
      </div>
    </div>

    {{! Edit Collection}}
    <div class="span2 edit-collectin-wrapper">
      <button class="btn btn-edit-collection">
        Edit Collection
      </button>
    </div>
  </div>
</header>

<ul class="products-list"></ul>