<div class="modal-close"></div>

<div class="row">

  <div class="span4">
    {{! Photo Viewer }}
    <div class="product-photo-viewer" style="text-align: center">
      {{! For now, just put a photo in }}
      <img src="{{filepicker product.photoUrl 430 430}}" alt="">
    </div>
  </div>

  <div class="span3 details-wrapper pages">
    <h1>Hi</h1>
    {{! Product Details }}
    {{! Add to Collection }}
  </div>
</div>
