<div class="modal-close"></div>

<div class="row">

  <div class="span4">
    {{! Photo Viewer }}
    <div class="product-photo-viewer" style="text-align: center">
      {{! For now, just put a photo in }}
      <div class="product-photo product-photo-loader">a</div>
      <img src="{{filepicker product.photoUrl 430 430}}" alt="" class="product-photo product-photo-hidden">
    </div>
  </div>

  <div class="span3 details-page-wrapper">
    {{! Product Details }}
    {{! Add to Collection }}
  </div>
</div>
