<h1>Add New Collection</h1>
<form id="add-new-collection-form" class="form-horizontal">
  <div class="control-group">
    <label for="add-new-collection-name" class="control-label">
      Name
    </label>
    <div class="controls">
      <input type="text" id="add-new-collection-name">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn">Cancel</button>
      <button class="btn">Save</button>
    </div>
  </div>
</form>