@import "/styles/variables.less";
@import "/styles/mixins.less";

// Variables and Mixins
// --------------------

@gutter-left:       32px;
@border-top:         5px;

.add-gutter-left() {
  margin-left: @gutter-left;
}

.add-border-tops() {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.page-punch-cards .page-title {
  margin-bottom: 44px;
}

.no-punch-cards {
  margin: 50px 0;
  text-align: center;
  font-style: italic;
}

// Main
// -------------

.punchcards-list {
  .add-border-tops();
  box-shadow: 0 1px 6px rgba(0,0,0, 0.36);
}

.punchcard-group {
  // Fix in clear issues
  display: table;
  width: 100%;
}

// Group Headers
// ----------------

.punchcard-group-header {
  background-color: #f7382e;
  color: #66130d;
  box-shadow:
    inset 0 -1px 1px rgba(0,0,0, 0.2),
          0  1px 1px rgba(0,0,0, 0.2);
}

.punchcard-group-header h1, h2, h3, h4, h5, h6 {
  color: #66130d;
}

.punchcard-group-elite .punchcard-group-header {
  background-color: #ffd414;
  color: #5e5308;
  .add-border-tops()
}

.punchcard-group-elite .punchcard-group-header h1, h2, h3, h4, h5, h6 {
  color: #5e5308;
}
.punchcard-group-header,
.punchcard-group-header h1 {
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  line-height: 40px;
}

.punchcard-group-header h1 {
  margin: 0;
  .add-gutter-left();
}

.no-punch-cards {
  color: @gb-text-primary;
}

// Details
// ----------------

.punchcard-group > .punchcard {
  padding-top: 8px;
  padding-bottom: 8px;
  // Override bootstraps grid margin madness
  margin-left: 0;

  border-top: 1px #ddd solid;

  cursor: pointer;

  #gradient > .vertical(#ffffff, #fcfcfa);
}

.punchcard-group > .punchcard:first-child {
  border-top: none;
}

.punchcard-group > .punchcard:hover {
  background: @row-hover-highlight;
}

.punchcard .details {
  // Override bootstraps grid margin madness
  margin-left: 0;
}

.punchcard-business-logo,
.title-and-description {
  display: inline-block;
  vertical-align: middle;
}

.title-and-description {
  margin-left: 5px;
}

.punchcard-business-logo {
  .add-gutter-left();
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.title-and-description > .title {
  font-size: 20px;
  font-weight: normal;
  color: @gb-text-primary;
  line-height: 20px;
  margin: 4px 0 4px 0;
}


.title-and-description > .description {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
  color: @gb-text-secondary;
}

.punchcard .num-punches {
  text-align: center;
  font-size: 22px;
  margin-top: 16px;
  font-weight: 100;
  color: @gb-text-primary;
}

.punchcard .num-rewards-wrapper {
  text-align: center;
}


// Punch Card Indicators
// ---------------------

.punch-indicators {
  margin-top: 15px;
}

.punch-indicator,
.elite-punch-indicator {
  display: inline-block;
  margin-left: 8px;
}

.punch-indicator:first-child,
.elite-punch-indicator:first-child {
  margin-left: 0;
}