<button class="btn btn-want{{#if userWants}} active{{/if}}">Want</button>
<button class="btn btn-like{{#if userLikes}} active{{/if}}">Like</button>
<button class="btn btn-try{{#if userTried}} active{{/if}}">Try</button>