<button class="btn btn-want{{#if userWants}} active{{/if}}">
  <i class="icon-wlt"></i>
  Want
</button>
<button class="btn btn-like{{#if userLikes}} active{{/if}}">
  <i class="icon-wlt"></i>
  Like It
</button>
<button class="btn btn-try{{#if userTried}} active{{/if}}">
  <i class="icon-wlt"></i>
  Tried
</button>