<a href="/#/add-new-collection" class="add-new-collection">
  <i class="icon icon-green-plus-large"></i>
  Add A New Collection
</a>
<ul class="collections">
  {{#each collections}}
    {{#dneq this.id "all"}}
    <li class="collection">
      <input type="checkbox" value="{{this.id}}" id="chk-collection-{{this.id}}" {{#in ../../product.collections this.id}} checked{{/in}}>
      <label class="checkbox-label" for="chk-collection-{{this.id}}"></label>
      {{this.name}}
    </li>
    {{/dneq}}
  {{/each}}
</ul>
