<div class="modal-close"></div>

<h1>Your Keytag</h1>

<div class="row">
  <form id="add-keytag-form" class="form-horizontal">
    <div class="control-group">
      <label for="keytag" class="control-label">
        Keytag ID:
      </label>
      <div class="controls">
        <input type="text" id="keytag" placeholder="Ex: 606573-BOC">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <img class="offset1 keytag-image" src="/img/keytag.png" width="240" height="162" alt="Your Keytag">
</div>
<div id="view-locations-area" class="row">
  <p id="view-locations-text" class="span3">
    Don't have a Keytag? Grab one from any of our participating businesses!
  </p>
  <button id="view-locations-btn" class="btn btn-primary">View Locations</button>
</div>
