<h1 class="modal-title">Edit Collection</h1>
<form id="edit-collection-form" class="form-horizontal">
  <div class="control-group">
    <label for="edit-collection-name" class="control-label">
      Name
    </label>
    <div class="controls">
      <input type="text" id="edit-collection-name" value="{{collection.name}}">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-large btn-cancel">Cancel</button>
      <button class="btn btn-large">Save</button>
    </div>
  </div>
</form>