<h1 class="modal-title">Edit Collection</h1>
<form id="edit-collection-form" class="form-horizontal">
  <div class="control-group">
    <label for="edit-collection-name" class="control-label">
      Name
    </label>
    <div class="controls">
      <input type="text" id="edit-collection-name" value="{{collection.name}}">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-large btn-cancel" type="button">Cancel</button>
      <button class="btn btn-large btn-primary">Save</button>
    </div>
  </div>

  <div class="control-group danger-zone">
    <div class="controls">
      <h4>Danger Zone</h4>
      <p>Performing this action is non-reversable.<br />Continue at your own risk!</p>
      <button class="btn btn-delete btn-danger" type="button">Delete Collection</button>
    </div>
  </div>
</form>