<div class="modal-close"></div>

<div class="row">
  <h1>Log In</h1>
</div>

<div class="row">
  <button class="btn btn-facebook" type="button">Connect with Facebook</button>
</div>

<div class="row">
  <span class="span5 or-divider">or</span>
</div>

<div class="row">
  <form class="login-form span1 offset1">
    <div class="control-group">
      <label for="field-email" class="control-label">
        Email
      </label>
      <div class="controls">
        <input type="email" class="field-email" id="field-email">
      </div>

      <label for="field-password" class="control-label">
        Password
      </label>
      <div class="controls">
        <input type="password" class="field-password" id="field-password">
      </div>

      <label for="remember" class="checkbox-label">
        Remember Me
      </label>
      <div class="controls">
        <input type="checkbox" id="remember" class="checkbox remember-checkbox">
      </div>
    </div>
  </form>
</div>
