.facebook-login-button {
  margin-left: 80px;
}

.or-divider {
  margin-top:11px;
  margin-bottom:11px;
  text-align: center;
  line-height:36px;
  font-size: 19px;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.login-form {
  margin-left: 84px;
}

.login-form .login-field {
  width:301px;
}