@import "/styles/variables.less";

.login-modal {
  z-index: @zindexLoginModal;
}

.login-modal h1 {
  font-size: 46px;
  line-height: 50px;
}

.login-form {
  width: 322px;
}

.login-modal .fb-login-wrapper {
  text-align: center;
}

.login-modal .btn-fb-connect {
  margin-left: 7px;
}

.or-divider {
  margin-top:11px;
  margin-bottom:11px;
  text-align: center;
  line-height:36px;
  font-size: 19px;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.login-form {
  margin-left: 84px;
}

.login-form .login-field {
  width:302px;
}

.login-button {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0 -2px 1px rgba(0,0,0,0.3);
  border: none;
  background-color: transparent;
}

.forgot-password {
  float: right;
  color: @gb-text-primary;
  text-decoration: underline;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
}

.remember-label {
  display: inline;
  font-size: 16px;
}

.register-wrapper {
  text-align: center;
}

.register-wrapper a {
  color: @gb-text-primary;
  // text-decoration: underline;
}