<div class="modal-close"></div>

<div class="row">
  <h1>Log In</h1>
</div>

<div class="row">
  <button class="facebook-login-button" type="button">Connect with Facebook</button>
</div>

<div class="row">
  <span class="span4 or-divider">or</span>
</div>

<div class="row">
  <form class="login-form">
    <div class="control-group">
      <label for="field-email" class="control-label">
        Email
      </label>
      <div class="controls">
        <input type="email" class="input-tall login-field field-email" id="field-email">
      </div>

      <label for="field-password" class="control-label">
        Password
      </label>
      <div class="controls">
        <input type="password" class="input-tall login-field field-password" id="field-password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="checkbox" id="remember" class="checkbox remember-checkbox" checked="checked">
        <label for="remember" class="checkbox-label checkbox-label-small"></label>
        <label for="remember" class="remember-label">Remember Me</label>
        <a href="javascript:void(0)" class="forgot-password">Forgot Password</a>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="login-button submit-button">Log In</button>
      </div>
    </div>
  </form>
</div>
