<h1 class="page-title">Support</h1>

<div class="row">
  <p class="span10">For help, please send us an email at <a href="mailto:support@goodybag.com">support@goodybag.com</a></p>
</div>

<div class="row">
  <div class="plateau span8 offset1 plateau-page">
    <div class="padding-wrap">
      <p>Goodybag is a local startup based in Austin, TX.</p>
      <p>From businesses and consumers to charities, our vision is to help support our community and see it thrive!</p>
      <p>Check out the <a href="/#/how-it-works">How it Works</a> page to learn more about our products!</p>
    </div>
  </div>
</div>
