<h1>Reset Password</h1>

<form class="reset-password-form">
  <div class="control-group">
    <div class="controls">
      <label for="pass1" class="control-label">New Password</label>
      <input type="password" class="reset-field field-password" id="pass1">

      <label for="pass2">Confirm New Password</label>
      <input type="password" class="reset-field field-password-confirm" id="pass2">
    </div>
    <div class="controls">
      <button type="submit" class="submit-button reset-button">Reset</button>
    </div>
  </div>
</form>
