<header class="page-header-box">
  <h1 class="page-title">Explore</h1>

  <div class="row">
    {{! Search }}
    <div class="span2 search-wrapper">
      {{! Wrap input in form to use onSubmit event }}
      <form id="explore-search-form">
        <input class="span2 field-search" placeholder="Search Gallery" type="text">
      </form>
    </div>

    {{! Filters Button Group }}
    <div class="span6 filters-wrapper">
      <div class="btn-group filters-btn-group">
        <button class="btn btn-large filter-popular">
          Popular
        </button>
        <button class="btn btn-large filter-nearby">
          Nearby
        </button>
        <button class="btn btn-large filter-random">
          Mix-It-Up!
        </button>
      </div>
    </div>
  </div>
</header>

<div class="products-list"></div>