@import "/styles/variables.less";
@import "/styles/mixins.less";
@import "/styles/forms.less";

.page-explore.fixed-header {
  padding-top: 154px;
}

header.page-header-box {
  position: fixed;
  z-index: 1;
  width: 1195px;
  top: 55px;
}