<header class="page-header-box"></header>

<ul id="popular"       class="products-list"></ul>
<ul id="nearby"        class="products-list"></ul>
<ul id="random"        class="products-list"></ul>
<ul id="search"        class="products-list"></ul>
<ul id="searchNearby"  class="products-list"></ul>

<h2 class="hide no-results">No products matched your search :(</h2>

<div class="products-list-spinner"></div>
