<h1 class="page-title">Goodybag for Businesses</h1>

<div class="span8 offset1">
  <div class="plateau plateau-page">
    <h2 class="form-title">
      New to Goodybag and want to learn more?
      <br />Give us a shout!
    </h2>
    <div class="span4 offset2">
      <form action="#" class="form form-vertical" id="contact-form">
        <div class="control-group row">
          <div class="span2">
            <label class="control-label" for="location-name-input">Your Name</label>
            <div class="controls">
              <input class="span2 field-name" type="text" id="location-name-input" placeholder="Enter your name">
            </div>
          </div>
          <div class="span2">
            <label class="control-label" for="location-name-input">Business Name</label>
            <div class="controls">
              <input class="span2 field-name" type="text" id="location-name-input" placeholder="Enter your business name">
            </div>
          </div>
        </div>

        <div class="control-group row">
          <div class="span2">
            <label class="control-label" for="location-name-input">Email Address</label>
            <div class="controls">
              <input class="span2 field-name" type="text" id="location-name-input" placeholder="Enter your email address">
            </div>
          </div>
          <div class="span2">
            <label class="control-label" for="location-name-input">Business Zip</label>
            <div class="controls">
              <input class="span2 field-name" type="text" id="location-name-input" placeholder="Enter your zip code">
            </div>
          </div>
        </div>

        <div class="control-group row">
          <div class="span4">
            <label class="control-label" for="">Questions/Comments?</label>
            <textarea name="" id="" rows="10"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>