<h1>Forgot Password</h1>

<form class="forgot-password-form">
  <div class="control-group">
    <label for="email" class="control-label">Email</label>
    <div class="controls">
      <input type="email" id="email" class="field-email input-tall" placeholder="you@example.com">
    </div>
    <div class="controls">
      <button type="submit" class="btn btn-primary send-email-btn">Send Email</button>
    </div>
  </div>
</form>
