<div class="modal-close"></div>

<div class="row">
  <h1>Sign Up</h1>
</div>

<div class="row fb-login-wrapper">
  <button class="btn-fb-connect" type="button">Connect with Facebook</button>
</div>

<div class="row">
  <span class="span4 or-divider">or</span>
</div>

<div class="row">
  <form class="register-form">
    <div class="control-group">
      <label for="field-username" class="control-label">Username</label>
      <div class="controls">
        <input type="text" class="input-tall register-field field-username" placeholder="Enter Username">
      </div>

      <label for="field-email" class="control-label">
        *Email (required)
      </label>
      <div class="controls">
        <input type="email" class="input-tall register-field field-email" id="field-email" placeholder="Enter Email Address">
      </div>

      <div class="controls">
        <div class="half-form-block password-block">
          <label for="field-password" class="control-label">
            *Password (required)
          </label>
          <input type="password" class="input-tall half-width-field field-password" id="field-password" placeholder="Enter Password">
        </div>

        <div class="half-form-block confirm-password-block">
          <label for="field-password-confirm" class="control-label">
            *Confirm Password
          </label>
          <input type="password" class="input-tall half-width-field field-password-confirm" id="field-password-confirm" placeholder="Confirm Password">
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="register-button submit-button">Sign Up</button>
      </div>
    </div>
  </form>
</div>
