<div class="span2 search-wrapper">
  <form id="explore-search-form">
    <input class="field-search" placeholder="Search Gallery" type="text">
    <button class="field-search-clear" type="button"><i class="icon-remove"></i></button>
  </form>
</div>
<div class="span1">
  <button class="btn btn-primary">Search</button>
</div>