<h1 class="page-title">How It Works</h1>

<div class="row">
  <div class="span8 offset1">
    <section class="plateau plateau-page plateau-tablet">

      <div class="padding-wrap">
        <h1 class="primary-title">In Store Tablet</h1>
      </div>

      <section class="row section-left how-it-works-section">
        <div class="span4 content-wrapper">
          <div class="padding-wrap">
            <h1 class="section-title">Let Goodybag help decide your next meal!</h1>
            <ul>
              <li>View pictures of every item</li>
              <li>See what's popular</li>
              <li>Like food and products that interest you</li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="img-wrapper">
            <img src="img/how-it-works-1.jpg" alt="">
          </div>
        </div>
      </section>

      <section class="row section-right how-it-works-section rewards">
        <div class="span4">
          <div class="img-wrapper">
            <img src="img/how-it-works-2.jpg" class="how-it-works-2-img" alt="">
          </div>
        </div>

        <div class="span4 content-wrapper">
          <h1 class="section-title">Endless Rewards through one Keytag!</h1>
          <ul>
            <li>Never keep track of a paper punchcard again</li>
            <li>Grab your free keytag at any Goodybag location!</li>
          </ul>
          <a href="/#/locations" class="btn btn-primary view-locations">View Locations</a>
          <img src="img/how-it-works-keytag.jpg" class="keytag" alt="Goodybag Keytags">
        </div>
      </section>
    </section>

    <section class="plateau plateau-page plateau-mobile">

      <div class="padding-wrap">
        <h1 class="primary-title">Mobile App</h1>
      </div>

      <section class="row section-right how-it-works-section section-mobile-1">
        <div class="span4 content-wrapper">
          <div class="content-inner">
            <p><strong>Explore</strong> the food and products around you.</p>
            <p><strong>View full menus</strong> for places you're interested in!</p>
            <a href="https://itunes.apple.com/ie/app/goodybag/id506924389?mt=8" class="btn btn-primary">Download The App</a>
          </div>
        </div>
        <div class="span4">
          <div class="img-wrapper">
            <img src="img/how-it-works-3.jpg" alt="Goodybag App">
          </div>
        </div>
      </section>

      <section class="row section-left how-it-works-section section-mobile-2">
        <div class="span4">
          <div class="img-wrapper">
            <img src="img/how-it-works-4.jpg" alt="Goodybag App">
          </div>
        </div>
        <div class="span4 content-wrapper">
          <div class="content-inner">
            <p><strong>Like, Want, and Try</strong> new foods while keeping everything organized in your <strong>Collections</strong>.</p>
          </div>
        </div>
      </section>

      <section class="row section-right how-it-works-section section-mobile-3">
        <div class="span4 content-wrapper">
          <div class="content-inner">
            <p>Track all your <strong>PunchCards</strong> and always know when you have <strong>Rewards</strong> available!</p>
          </div>
        </div>
        <div class="span4">
          <div class="img-wrapper">
            <img src="img/how-it-works-5.jpg" alt="Goodybag App">
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
