// Globals
@import "variables.less";

// Components
@import "normalize.less";
@import "grid.less";
@import "header-navbar.less";

html {
  background: url('@{texture-linen}');
}

body {
  background: url('@{body-gradient}') top center repeat-y;
  height: 1200px;
}