@import "/styles/variables.less";

//
// Product Menus !!!!!!!!@!@#42341
// -------------------------------

@product-photo-size: 66px;

.product-menu .product-menu-section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  line-height: 36px;
  padding-left: @gridColumnWidth - @product-photo-size;
  background: #f5f4f0;
  color: @gb-text-primary;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #E0E0E0;
}

.product-menu .product-photo-wrapper {
  text-align: right;
}

.product-menu .product-photo {
  display: inline-block;
  width: @product-photo-size;
  height: @product-photo-size;
  border-radius: 5px;
  background: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.product-menu .product-menu-list .product-item {
  padding: 10px 0 8px 0;
  border-top: 1px solid #ccc;
  background: #ffffff; /* Old browsers */
}

.product-menu .product-menu-list .product-item:hover {
  cursor: pointer;
  background: @row-hover-highlight;
  box-shadow: inset 0 1px 0 rgba(255,255,255, 0.8);
}

.product-menu .product-menu-list > .row:first-child .product-item {
  border-top: 0;
}

.product-menu .product-name {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 0;
  color: @gb-text-primary;
}

.product-menu .product-description {
  font-size: 13px;
  font-style: italic;
  color: @gb-text-secondary;
}

.product-menu .product-feelings-wrapper.with-padding > .product-feeling {
  margin-right: 15px;
}

.product-menu .product-feeling {
  display: block;
  text-align: right;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  color: #b2afa8;
  font-size: 17px;
}

.product-menu .product-feeling .icon-heart {
  vertical-align: middle;
  font-size: 14px;
  text-shadow: 0 -1px 0 #777;
  margin-top: -4px;
}

.product-menu .product-price-wrapper {
  padding-top: 4px;
  color: #b2afa8;
  text-align: center;
}