//
// Scaffolding
// --------------------------------------------------


// Images
// -------------------------

// Rounded corners
.img-rounded {
  .border-radius(6px);
}

// Add polaroid-esque trim
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  .box-shadow(0 1px 3px rgba(0,0,0,.1));
}

// Perfect circle
.img-circle {
  .border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}

// Plateaus
// -------------------

.plateau {
  display: table;
  width: 100%;
  padding: 50px 0;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0, 0.33);
/*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
*/
}

.plateau-page {
  padding-left: 20px;
  padding-right: 20px;
}

.plateau-page + .plateau-page {
  margin-top: 80px;
}

// Account for extra padding I guess
.span4 > .plateau-page,
.span5 > .plateau-page,
.span6 > .plateau-page,
.span7 > .plateau-page,
.span8 > .plateau-page,
.span9 > .plateau-page,
.span10 > .plateau-page { margin-left: -20px; }

.fancy-separator {
  text-align: center;
}

.fancy-separator > p {
  display: inline-block;
  width: 50%;
  border-bottom: 1px solid #888;
  line-height: 2px;
}

.fancy-separator > p > span {
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  color: @gray;
  padding: 0 8px;
  background-color: #fff;
}

.hide {
  display: none;
}

.btn.hide {
  display: none;
}