//
// Sprites
// --------------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

// For the white version of the icons, just add the .icon-white class:
// <i class="icon-inbox icon-white"></i>

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  .ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url('@{sprite-path}');
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.icon-chevron-down          { #sprite > .chevron-down() }
.icon-like                  { #sprite > .like() }
.icon-like-active           { #sprite > .like-active() }
.icon-want                  { #sprite > .want() }
.icon-want-active           { #sprite > .want-active() }
.icon-try                   { #sprite > .try() }
.icon-try-active            { #sprite > .try-active() }
.icon-like-count            { #sprite > .like-count() }
.icon-heart-big             { #sprite > .heart-big() }
.icon-green-plus            { #sprite > .green-plus() }
.icon-green-plus-large      { #sprite > .green-plus-large() }
.icon-green-plus-huge       { #sprite > .green-plus-huge() }