<div class="add-to-collections"></div>
<div class="page-actions">
  <button class="btn btn-large btn-back">Back</button>
  <button class="btn btn-large btn-cancel hide">Cancel</button>
  <button class="btn btn-large btn-save btn-primary hide">Save</button>
</div>