<h1 class="modal-title">Please Enter Your Current Password</h1>
<form id="update-password-form" class="form-horizontal">
  <div class="control-group">
    <label for="edit-collection-name" class="control-label">
      Password
    </label>
    <div class="controls">
      <input type="password" class="field-password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-large btn-cancel" type="button">Cancel</button>
      <button class="btn btn-large">Submit</button>
    </div>
  </div>
</form>
